:root {
  --bacground-color: #ffffff;
  --main-textcolor: #757575;
  --secondary-textcolor: #212121;
  --acent-color: #2196f3;
  --bg-color-footer: #2f303a;
  --bg-color-button: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--bacground-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-textcolor);
}


.header{
  border-bottom: var(--main-textcolor) 0.6px solid;
}
/* Logo */
.logo {
  font-family: Relawey, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-textcolor);
  margin-right: 90px;
}
.logo span {
  color: var(--acent-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0  15px ;
}
/* nav */
.container-header {
  display: flex;
  align-items: center;
  /* background-color: var(--acent-color); */
  height: 80px;
}

.nav {
  display: flex;
}
.nav li:not(:first-child) {
  margin-left: 50px;
}
.logo__and__nav {
  display: flex;
  align-items: center;
}
.nav-link {
  font-weight: 500;
  color: var(--secondary-textcolor);
  padding: 32px 0;
}

.active-link {
  color: var(--acent-color);
}
.nav-contacts {
  display: flex;
  margin-left: auto;
}
.nav-contacts li:not(:first-child) {
  margin-left: 50px;
}
.contact-link {
  font-weight: 500;
  color: var(--main-textcolor);
  padding: 32px 0;
}
.container-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--secondary-textcolor);
  margin-bottom: 30px;
}
.hero-button {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 32px;
  border-radius: 3px;
  margin: 0 auto;
  min-width: 216px;
  background-color: var(--acent-color);
  color: var(--bacground-color);
}

/* advantages */
.advantages-list {
  display: flex;
  margin: 94px 0;
}
.advantages:not(:first-child) {
  margin-left: 30px;
}
.advantages {
  width: calc(100% - 90px / 4);
}
.advantage-title + p {
  margin: 0;
  margin-top: 10px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-textcolor);
}
.work-title,
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.work-title {
  text-align: center;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  margin-bottom: 94px;
}
.work__list__item {
  width: calc(100% - 90px / 3);
}
.work__list__item:not(:first-child) {
  margin-left: 30px;
}

/* Command */
.command {
  padding-bottom: 94px;
  padding-top: 94px;
}
.command-title {
  text-align: center;
  margin-bottom: 50px;
}
.command-list {
  display: flex;
  text-align: center;
}
.command-item {
  width: calc(100% - 90px / 4);
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.command-item:not(:first-child) {
  margin-left: 30px;
}
.command-item img {
  margin-bottom: 30px;
}
.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-textcolor);
  margin-bottom: 10px;
}
.command-position {
  margin-bottom: 30px;
}

/* Footer */
footer {
  background-color: var(--bg-color-footer);
}
footer .container {
  padding: 60px 15px;
}
.logo-footer {
  display: block;
  color: var(--bacground-color);
  margin: 0;
  margin-bottom: 20px;
}
.address-text {
  color: var(--bacground-color);
  margin-bottom: 9px;
}
.footer-contacts {
  color: var(--main-textcolor);
  font-style: normal;  
}
.footer-contacts+.footer-contacts{
  margin-top: 9px;
}
.footer__contacts__list{
  display: flex;
  flex-direction: column;
}

/* Portfolio */
.gallery__section{
 padding-top: 94px;
 padding-bottom: 94px;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--bg-color-button);
  color: var(--secondary-textcolor);
  padding: 6px 22px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: var(--acent-color);
  color: var(--bacground-color);
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 
}
.gallery li {
  flex-basis: calc((100%-60px)/3);
  /* width:370px;  */
  /* margin-bottom: 30px; */
  border-radius: 5px;
  box-shadow: var(--main-textcolor) 0px 0px 1px;
}
/* .gallery li:not(:nth-child(3n + 1)){
  margin-left: 30px;
} */
.gallery img {
  margin-bottom: 20px;
}
.gallery h2{
  margin-bottom: 4px;
  margin-left: 24px;
}
.gallery p{
  margin-bottom: 20px;
  margin-left: 24px;
}

.gallery-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.36;
  color: var(--secondary-textcolor);
}
.gallery-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-textcolor);
}
