.nav {
  
  position: absolute;
  top: $header-height;
  left: 0;
  width: 100%;
  padding: 25px 15px;
  background-color: $background-color;
  height: calc(100vh - #{$header-height});
  transform: translatY(0);
  transition: transform 0.3s $cubic-bezier;
  overflow: scroll;

  &.is-open {
    transform: translateY(-200%);
  }
}
.menu__button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container__header {
  position: relative;
}
// .js-open-menu{
//   display: none;
// }

  .js-menu-container.is-open + .menu__button>.icon__menu>.js-open-menu{
    display: block;
  }
  .js-menu-container + .menu__button>.icon__menu>.js-open-menu{
    display: none;
   }
   .js-menu-container.is-open + .menu__button>.icon__menu>.js-close-menu{
    display: none;
  }
  .js-menu-container + .menu__button>.icon__menu>.js-close-menu{
    display: block;
   }

