$background-color:#ffffff;
$main-textcolor: #757575;
$secondary-textcolor: #212121;
$acent-color: #2196f3;
$bg-color-footer: #2f303a;
$bg-color-button: #f5f4fa;
$color-cliets: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$header-height: 80px;


